# Python
__pycache__/
*.py[cod]
.venv
.env
.env.local
.vscode/

# Rust
target/
**/*.rs.bk

# Project V Specific
docs/internal/
*.log
data/
.DS_Store
src/brain/models/**/*.onnx

# Node
node_modules/
.next/
out/
build/
dist/
src/interface/.next/
