receivers:
  otlp:
    protocols:
      grpc:
        endpoint: "0.0.0.0:4317"
      http:
        endpoint: "0.0.0.0:4318"

processors:

  batch:
    timeout: 5s
    send_batch_size: 500
    send_batch_max_size: 1000

  memory_limiter:
    check_interval: 1s
    limit_mib: 512
    spike_limit_mib: 128

  probabilistic_sampler:
    sampling_percentage: 20

exporters:
  debug:
    verbosity: detailed
  otlphttp/grafana:
    endpoint: "${GRAFANA_CLOUD_ENDPOINT}"
    headers:
      Authorization: "${GRAFANA_CLOUD_AUTH}"

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [memory_limiter, probabilistic_sampler, batch]
      exporters: [debug, otlphttp/grafana]
    metrics:
      receivers: [otlp]
      processors: [memory_limiter, batch]
      exporters: [debug, otlphttp/grafana]
    logs:
      receivers: [otlp]
      processors: [memory_limiter, batch]
      exporters: [debug, otlphttp/grafana]
